
  
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "GFS Didot", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.5em;
  color: white;
}

header {
  background-image: url(../images/collage-bg.avif);
  background-position: center;
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* These apply for display screens 600px and larger */
@media (min-width: 450px) {
  h1 {
    font-size: 3rem;
  }
  
  header {
    background-image: url(../images/collage-bg.avif);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }

  #carouselSidebar {
    float: right;
    width: 900px;
  }

}